.cnltoolbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

#info-icon {
	float: right;
	font-size: 19px;
	margin-top: 3px;
	margin-right: 5px;
	text-shadow:1px 1px 3px #000;
}

#info-icon:hover{
	font-size: 20px;
	text-shadow:2px 2px 4px #000;
  cursor: pointer;
}

#refresh-icon{
	font-size: 20px;
	margin-left: 5px;
	margin-top: 3px;
}

.fa.fa-refresh:hover {  
     transform: rotate(180deg);
}

.fa.fa-refresh {
     transition: transform 0.5s ease 0s;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 500ms;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 500ms ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup h4 {
  color: #f35;
  margin-left: 10px;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  font-size: 17px;
  color: #000;
  overflow: auto;
}

.templateList li:hover{
  cursor: pointer;
  font-size: 18px;
  text-shadow:1px 1px 1px #aceace;
}
